GeditWindow .pane-separator, 
GeditWindow .pane-separator:hover {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.9);
    background-color: shade (@theme_bg_color, 0.9);
    color: shade (@theme_bg_color, 0.9);
}

GeditPanel.title GtkLabel {
    padding: 5px 0;
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
    background-color: shade (@theme_bg_color, 1.1);
}

GeditPanel .notebook {
    padding: 0;
    border-width: 1px 0;
}

GeditWindow .notebook {
    border-width: 1px 0;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {
    border-width: 0;
}

GeditWindow .notebook tab:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 1.0)),
                                     to (shade (@theme_base_color, 1.0)));
}

GeditFloatingSlider .not-found {
    color: @error_fg_color;
    background-image: none;
    background-color: @error_bg_color;
}
