/* dark colormap */
@define-color theme_bg_color #333;
@define-color theme_fg_color #eee;
@define-color theme_base_color #3c3c3c;
@define-color theme_text_color #eee;
@define-color theme_selected_bg_color #58e;
@define-color theme_selected_fg_color #fff;
@define-color theme_tooltip_bg_color #333;
@define-color theme_tooltip_fg_color #eee;

/* shadow effects */
@define-color light_shadow #444;
@define-color dark_shadow #000;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (255, 255, 255);
@define-color info_bg_color rgb (85, 119, 204);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #58e;
@define-color success_color #4e9a06;
@define-color error_color #cc0000;

/* osd */
@define-color osd_base #333;
@define-color osd_fg #eee;
@define-color osd_bg alpha(@osd_base, 0.8);

/* backdrop colors */
@define-color backdrop_selected_bg_color shade (@theme_bg_color, 0.9);
@define-color backdrop_selected_fg_color @theme_fg_color;

/* window manager colors */
@define-color wm_bg @theme_bg_color;
@define-color wm_title_focused mix(@theme_fg_color, @theme_bg_color, 0.1);
@define-color wm_title_unfocused mix(@theme_fg_color, @theme_bg_color, 0.6);
@define-color wm_border_focused shade(@theme_bg_color, 0.7);
@define-color wm_border_unfocused shade(@theme_bg_color, 0.8);

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("gtk-widgets-backdrop.css");
@import url("apps/gnome-applications.css");
@import url("apps/granite-widgets.css");
@import url("apps/unity.css");
